     .faq-container {
        width: 95vw;

        background-color: #f2f5f9;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 50px;
      }

      .tabs-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;
      }

      .topic-label {
        color: var(--Base-Base-Black, #036);
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .tabs {
        display: flex;
        gap: 10px;
      }

      .tab {
        display: flex;
        height: 40px;
        padding: 8px 10px;
        justify-content: center;
        align-items: center;
        border-radius: 44px;
        color: var(--Base-Base-Black, #036);
        text-align: center;
        font-family: Gilroy;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.16px;
      }

      .tab.active {
        background-color: #007bff;
        color: white;
        border-color: transparent;
        color: var(--Asklepios-Gray-White, var(--White, #fff));
        text-align: center;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.16px;
      }

      .faq-item {
        background-color: transparent;
        background: var(--Base-Base-White, #fafafa);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 24px;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 0px;
        border-radius: 8px;
      }

      .faq-content {
        background-color: #f2f5f9;
      }

      .faq-question {
        padding: 15px;
        background-color: transparent;
        border: none;
        text-align: left;
        width: 100%;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .arrow {
        font-size: 12px;
        transition: transform 0.3s;
      }

      .faq-item.active .arrow {
        transform: rotate(180deg);
      }

      .faq-question:hover {
        background-color: #f0f0f0;
      }

      .faq-answer {
        display: none;
        padding: 15px;
        background-color: var(--Base-Base-Black, #036);
        color: white;
        border-radius: 0 0 10px 10px;
      }

      .faq-item.active .faq-question {
        background-color: var(--Base-Base-Black, #036);
        color: white;
      }

      .faq-item.active .faq-answer {
        display: block;
      }